.game-wrap {
    margin-left: 20px;
}

.header {
    width: 100%;
    left: 0;
    top: 0;
    /* position: absolute; */
    z-index: -1;
}

.status {
    margin-top: 10px;
    width: 400px;
    height: 60px;
    display: inline-block;
}

.status-message {
    background: #efefef;
    padding: .5em;
    overflow: hidden;
    position: relative;
}

.battlefields {
    align-content: center;
}

.battlefield {
    width: 400px;
    display: inline-block;
    align-content: center;
}

.battlefield-table {
    /* position: absolute; */
    display: inline-block;
    width: fit-content;
    height: fit-content;
    border: 3px solid rgb(23, 23, 23);
}

/* empty cell */
.cell {
    height: 30px;
    width: 30px;
    border: 1px solid rgba(24, 147, 255, 0.25);
    background-color: white;
}

/* with alive ship */
.ship-cell {
    background-color: rgb(63, 63, 63);
    border: 1px solid rgb(0, 0, 0);
}
/* shooted, but not to ship */
.missed-cell {
    background-color: rgb(255, 244, 141);
}
/* not shooted, but near to died ship */
.died-cell {
    background-color: rgb(255, 157, 155);
}
/* shooted, hitted ship */
.died-ship-cell {
    background-color: rgb(255, 90, 90);
    border: 1px solid rgba(24, 147, 255, 0.9);
}

.label-container {
    width: 100%;
    position: relative;
    /* z-index: 1;
    font-size: .8em;
    bottom: -30px; */
}

.ships-collection {
    display: inline-block;
    
}

.initial-ships {
    list-style-type: none;
}

.ship {
    display: inline-block;
    z-index: 2;
    left: 0;
    top: 0;
    border: 2px solid #00f;
    background: rgba(0, 0, 255, .05);
    /* position: absolute !important; */
    margin: -2px
}

.ships-collection .ship + .ship {
    margin-left: 10px;
}
.ships-row {
    height: 50px;
}
.ship-1 {
    width: 33px;
    height: 33px;
}
.ship-2 {
    width: 65px;
    height: 33px;
}
.ship-3 {
    width: 98px;
    height: 33px;
}
.ship-4 {
    width: 131px;
    height: 33px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.green-button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.green-button:hover {
    background-color: #4CAF50;
    color: white;
}