.game-wrap {
    margin-left: 20px;
}

.header {
    width: 100%;
    left: 0;
    top: 0;
    /* position: absolute; */
    z-index: -1;
}

.status {
    width: 400px;
    height: 60px;
    display: inline-block;
}

.status-message {
    background: #efefef;
    padding: .5em;
    overflow: hidden;
    position: relative;
}

.battlefields {
    align-content: center;
}

.battlefield {
    width: 400px;
    display: inline-block;
    align-content: center;
}

.battlefield-table {
    /* position: absolute; */
    display: inline-block;
    width: fit-content;
    height: fit-content;
    border: 3px solid rgb(23, 23, 23);
}

.cell {
    height: 30px;
    width: 30px;
    border: 1px solid rgba(24, 147, 255, 0.25);
    background-color: white;
}

.ship-cell {
    background-color: rgb(63, 63, 63);
    border: 1px solid rgb(0, 0, 0);
}
.missed-cell {
    background-color: rgb(255, 244, 141);
}
.died-cell {
    background-color: rgb(255, 157, 155);
}
.died-ship-cell {
    background-color: rgb(255, 90, 90);
    border: 1px solid rgba(24, 147, 255, 0.9);
}

.label-container {
    width: 100%;
    position: relative;
    /* z-index: 1;
    font-size: .8em;
    bottom: -30px; */
}



.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.green-button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.green-button:hover {
    background-color: #4CAF50;
    color: white;
}